.row{
  width: 150%;
  max-width: 80em;
  margin: auto;
  margin-top: 0em;
}

.messageText{
  background: #eee;
  display: block;
  clear: both;
  border:2px solid black;
  color: black;
  padding: 2em;
  border-radius: 1em;
  margin: auto;
  margin-top: 1em;
  width: 90%;
  max-width: 80em;
}

.shareIcons{
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 1em;
  padding: 0em 0.1em;
  margin: 0.1em 1em;
  color: white;
  background: rgb(50,13,13);
  background: linear-gradient(85deg, rgba(50,13,13,1) 0%, rgba(68,49,49,1) 18%, rgba(84,16,16,1) 41%, rgba(24,0,0,1) 100%); 
  margin: auto;
  margin-top: 0.3em;
  margin-bottom: 1em;
	box-shadow: 2px 2px 0.3em rgba(.0,.0,.0,.8);
  border: 1px solid black;
}
.shareIcons li{
	float left;
	display: inline-block;
}
.shareIcons p{
  text-align:left;
  margin: -5px;
  padding: 0;
  float: left;
  color: white;
  margin: 0;
  margin-left:2em;
  text-align: left;
}

.react{
  display:block;
  margin: auto;
  margin-top: 1em;
  text-align: center;
}
.react ul{
}
.react li{
	float left;
  color: white;
  font-size:1.0em;
	display: inline-block;
  padding: 3px 8px;
	border: 2px solid #666;
	border-bottom: 2px solid #aaa;
	border-right: 2px solid #aaa;
	border-radius: 5px;
	text-shadow: 2px 2px 0.2em rgba(.0,.0,.0,.8);
	background: rgb(28,96,24);
	background: linear-gradient(355deg, rgba(28,96,24,1) 0%, rgba(120,169,141,1) 8%, rgba(41,125,77,1) 23%, rgba(33,116,49,1) 52%, rgba(22,88,28,1) 100%);
}


p, h1, h2, h3, h4, h5, h6{
  color: black;
}
h1{
  font-weight: bold;
}
h2, h3, h4, h5, h6{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.3em;
}
h3{
  font-size: 1.2em;
}
h4{
  font-size: 1.1em;
}
h5{
  font-size: 1.05em;
}
h6{
  font-size: 1.05em;
}
.messageForm p, 
.messageForm h1, 
.messageForm h2, 
.messageForm h3, 
.messageForm h4, 
.messageForm h5, 
.messageForm h6{
  color: white;
  text-align: center;
}
a{
 color: #049;
 text-decoration: underline;
}
.messageForm{
  margin: auto;
  margin-top: 1em;
  display:block;
}
td {
  padding: 0.1em 1em;
  text-align: center;
}
table{
  margin:auto;
  margin-top: 1em;
}
.center{
  text-align: center;
}
.btn{
	background: rgb(28,24,96);
	background: linear-gradient(171deg, rgba(28,24,96,1) 0%, rgba(120,141,169,1) 8%, rgba(41,77,125,1) 23%, rgba(33,49,116,1) 52%, rgba(22,28,88,1) 100%);
	text-decoration: none;
	margin: 0.1px 0.1em;
	padding: 0.1px 0.2em;
	border: 2px solid black;
	border-radius: 1em;
	text-decoration: none;
	box-shadow: 2px 2px 0.3em rgba(.0,.0,.0,.8);
	text-shadow: 2px 2px 0.2em rgba(.0,.0,.0,.8);
  color: white;
  padding: 0.1em 1em;
  line-height:3em;
}
.btn:hover{
	background: rgb(28,96,24);
	background: linear-gradient(171deg, rgba(28,96,24,1) 0%, rgba(120,169,141,1) 8%, rgba(41,125,77,1) 23%, rgba(33,116,49,1) 52%, rgba(22,88,28,1) 100%);
  color: black;
}
.btn:active{
	background: rgb(96,28,24);
	background: linear-gradient(171deg, rgba(96,24,28,1) 0%, rgba(168,141,120,1) 8%, rgba(125,77,41,1) 23%, rgba(116,49,33,1) 52%, rgba(88,28,22,1) 100%);
  color: black;
}


