p, h1, h2, h3, h4, h5, h6{
  color: black;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.6em;
}
h3{
  font-size: 1.4em;
}
h4{
  font-size: 1.3em;
}
h4{
  font-size: 1.2em;
}
h4{
  font-size: 1.1em;
}
h5{
  font-size: 1.05em;
}
.messageForm p, 
.messageForm h1, 
.messageForm h2, 
.messageForm h3, 
.messageForm h4, 
.messageForm h5, 
.messageForm h6{
  color: white;
  text-align: center;
}
.messageText{
  max-width: 100em;
  width: 80%;
  margin: auto;
  margin-top: 1em;
  background: #eee;
  display: block;
  border:2px solid black;
  color: black;
  padding: 2em;
  display:block;
}
.react{
  display:block;
  margin: auto;
  background: #eee;
}
.react ul{
}
.react li{
	float left;
  color: white;
  font-size:1.3em;
	display: inline-block;
  padding: 3px 8px;
  border-radius: 1em;
	background: rgb(28,24,96);
	background: linear-gradient(171deg, rgba(28,24,96,1) 0%, rgba(20,41,69,1) 8%, rgba(41,77,125,1) 23%, rgba(33,49,116,1) 52%, rgba(22,28,88,1) 100%);
}
a{
 color: #00b;
 text-decoration: underline;
}
.messageBody{
  margin-top: 1em;
  padding-top: 1em;
  border-top: 2px solid #666;
  color: black;
}
.messageForm{
  margin: auto;
  margin-top: 1em;
  display:block;
}
td {
  padding: 0.1em 1em;
  text-align: center;
}
table{
  margin:auto;
  margin-top: 1em;
}
