
.listman_empty{
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 2em;
}

.listman_listTitle{
  max-width: 30em;
  display: block;
}

.listman_listRedir, 
.listman_listDesc{
  max-width: 30em;
  display: block;
}

.listman_members li{
  display:block;
}
.listman_memberName{
  max-width: 20em;
}
.listman_memberEmail{
  max-width: 20em;
}
.listman_memberactions{
  position: relative;
  top: +1.0em;
  margin: 0px;
  display:inline-block;
}
.listman_memberaction{
}

#app-content-vue {
  padding-left: 3em;
  padding-top: 1em;
}

#app-content > div {
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

input[type='text'] {
	width: 100%;
}

textarea {
	flex-grow: 1;
	width: 100%;
}

#subscribeFormText {
  margin: 0.1em 1em;
  margin-top: 1em;
  padding: 0.1em 1em;
  border: 2px solid #AA0000;
  border-radius: 1em;
  width: 80%;
  margin-left:10%;
  background: white;
  color: black;
  box-shadow: -0.4em 0.4em 0.2em rgba(.5,.0,.0,.8);
  overflow: hidden;
}
