.composeTextarea{
  height: 20em;
}
.listman_empty{
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 2em;
}

.listman_listTitle{
  max-width: 30em;
  display: block;
}

.listman_listInput{
  max-width: 40em;
  display: block;
  border:2px solid blue;
}

.listman_members li{
  display:block;
}
.listman_memberName{
  max-width: 20em;
}
.listman_textline{
  position: relative;
  top: -1em;
  display:inline-block;
}
.listman_memberEmail{
  max-width: 20em;
}
.listman_memberactions{
  position: relative;
  top: +1.0em;
  margin: 0px;
  display:inline-block;
}
.listman_memberaction{
}

#app-content-vue {
  padding-left: 3em;
  padding-top: 1em;
}

#app-content > div {
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

input[type='text'] {
	width: 100%;
}

textarea {
	flex-grow: 1;
	width: 100%;
}

#subscribeFormText {
  padding: 0.1em 1em;
  border: 2px solid #000000;
  border-radius: 3px;
  width: 90%;
  background: white;
  color: black;
  box-shadow: 0em 0em 0.4em rgba(.5,.0,.0,.8);
  overflow: hidden;
}
#shownPane{
  margin: 0.1em 1em;
  margin-top: 1em;
  overflow: hidden;
}
.memberline,
.messageline{
  border-radius: 1em;
  padding: 0em 1em;
  box-shadow: 0em 0em 0.4em rgba(.0,.0,.0,.8);
  margin-bottom: 0.5em;
  background: rgba(0,0,0,0.3);
}
.listman_messageactions{
  position: relative;
  display:inline-block;
}
.listman_memberline{
  position: relative;
  top: -1em;
  display:inline-block;
}
.listman_memberlinecontent{
  position: relative;
  top: -0.8em;
  display:block;
}
#listman_messagedetails{
  margin: 1em 1em;
  padding: 0.5em 1em;
  border-radius: 1em;
  box-shadow: 0em 0em 0.4em rgba(.5,.0,.0,.8);
  overflow: hidden;
  background: rgba(0,0,0,0.2);
}
.listman_messages{
  display: flex;
  flex-direction: column-reverse;
}
#listman_newmessagebutton{
  margin-bottom:1.0em;
}
#listman_numsent{
  float:right;
  background: transparent;
  position: relative;
  top: 0.5em;
  margin-right: 1em;
}
#listman_sendtoall{
  float:right;
}

.settingsSection{
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  bottom: 2px;
  width: 100%;
  z-index: 100;
}
.settingsSection h3,
.settingsSection ul{
  margin: 0;
  padding: 2px;
  box-shadow: 0em 0em 0.4em rgba(.5,.0,.0,.8);
  background: rgba(128,128,128,0.3);
}
.settingsSection h3{
  text-align: center;
  font-weight: bold;
}
.settingsSection h3:hover{
  font-weight: normal;
  background: rgba(128,200,128,0.3);
}
#settingsPanel{
}

.btn{
	background: rgb(28,24,96);
	background: linear-gradient(171deg, rgba(28,24,96,1) 0%, rgba(120,141,169,1) 8%, rgba(41,77,125,1) 23%, rgba(33,49,116,1) 52%, rgba(22,28,88,1) 100%);
	text-decoration: none;
	margin: 0.1px 0.1em;
	padding: 0.1px 0.2em;
	border: 2px solid black;
	border-radius: 1em;
	text-decoration: none;
	box-shadow: 2px 2px 0.3em rgba(.0,.0,.0,.8);
	text-shadow: 2px 2px 0.2em rgba(.0,.0,.0,.8);
  color: white;
  padding: 0.1em 1em;
  line-height:3em;
}
.btn:hover{
	background: rgb(28,96,24);
	background: linear-gradient(171deg, rgba(28,96,24,1) 0%, rgba(120,169,141,1) 8%, rgba(41,125,77,1) 23%, rgba(33,116,49,1) 52%, rgba(22,88,28,1) 100%);
  color: black;
}
.btn:active{
	background: rgb(96,28,24);
	background: linear-gradient(171deg, rgba(96,24,28,1) 0%, rgba(168,141,120,1) 8%, rgba(125,77,41,1) 23%, rgba(116,49,33,1) 52%, rgba(88,28,22,1) 100%);
  color: black;
}

