
.listman_empty{
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 2em;
}

.listman_listTitle{
  max-width: 30em;
  display: block;
}

.listman_listRedir, 
.listman_listDesc{
  max-width: 30em;
  display: block;
}

.listman_members li{
  display:block;
}
.listman_memberName{
  max-width: 20em;
}
.listman_messagedetails{
  border:2px solid purple;
}
.listman_textline{
  position: relative;
  top: -1em;
  display:inline-block;
}
.listman_memberEmail{
  max-width: 20em;
}
.listman_memberactions{
  position: relative;
  top: +1.0em;
  margin: 0px;
  display:inline-block;
}
.listman_memberaction{
}

#app-content-vue {
  padding-left: 3em;
  padding-top: 1em;
}

#app-content > div {
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

input[type='text'] {
	width: 100%;
}

textarea {
	flex-grow: 1;
	width: 100%;
}

#subscribeFormText {
  margin: 1em 1em;
  padding: 0.1em 1em;
  border: 2px solid #00aa00;
  border-radius: 1em;
  width: 90%;
  margin-left:5%;
  background: white;
  color: black;
  box-shadow: 0em 0em 0.4em rgba(.5,.0,.0,.8);
  overflow: hidden;
}
#shownPane{
  margin: 0.1em 1em;
  margin-top: 1em;
  padding: 0.1em 1em;
  border: 2px solid #AA0000;
  border-radius: 1em;
  box-shadow: 0em 0em 0.4em rgba(.5,.0,.0,.8);
  overflow: hidden;
}
.memberline,
.messageline{
  border-radius: 1em;
  padding: 0em 1em;
  box-shadow: 0em 0em 0.4em rgba(.0,.0,.0,.8);
  margin-bottom: 0.5em;
  background: rgba(0,0,0,0.3);
}
.listman_messageactions{
  position: relative;
  display:inline-block;
}
.listman_memberline{
  position: relative;
  top: -1em;
  display:inline-block;
}
.listman_memberlinecontent{
  position: relative;
  top: -0.8em;
  display:block;
}
#listman_messagedetails{
  margin: 1em 1em;
  padding: 0.1em 1em;
  border: 2px solid #00aa00;
  border-radius: 1em;
  width: 90%;
  margin-left:5%;
  box-shadow: 0em 0em 0.4em rgba(.5,.0,.0,.8);
  overflow: hidden;
  background: rgba(0,0,0,0.2);
}
.listman_messages{
  display: flex;
  flex-direction: column-reverse;
}
#listman_newmessagebutton{
  margin-bottom:1.0em;
}
#listman_numsent{
  float:right;
}
#listman_sendtoall{
  float:right;
}
